<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.springmybatis.menu.model.dao.MenuMapper">

    <resultMap id="menuResultMap" type="com.ohgiraffers.springmybatis.menu.model.dto.MenuDTO">
        <id property="code" column="menu_code"/>
        <result property="name" column="menu_name"/>
        <result property="price" column="menu_price"/>
        <result property="categoryCode" column="category_code"/>
        <result property="orderableStatus" column="orderable_status"/>
    </resultMap>

    <select id="findAllMenu" resultMap="menuResultMap">
        select
            menu_code
            , menu_name
            , menu_price
            , category_code
            , orderable_status
        from tbl_menu
        where orderable_status = 'Y'
        order by menu_code
    </select>

    <select id="findMenuByCode" parameterType="_int" resultMap="menuResultMap">
        select
            menu_code
            , menu_name
            , menu_price
            , category_code
            , orderable_status
        from tbl_menu
        where menu_code = #{menuCode} and orderable_status = 'Y'
    </select>

    <resultMap id="categoryResultMap" type="com.ohgiraffers.springmybatis.menu.model.dto.CategoryDTO">
        <id property="code" column="category_code"/>
        <result property="name" column="category_name"/>
        <result property="refCategoryCode" column="ref_category_code"/>
    </resultMap>

    <select id="findAllCategory" resultMap="categoryResultMap">
        select
        category_code
        , category_name
        , ref_category_code
        from tbl_category
        order by category_code
    </select>

    <!--parameterType: ~~MenuDTO :  DTOO의 getPrice~ getName~ getter에서 값을 받아와 바인딩 해준다.-->
    <!--keyProperty="code": DB가 자동 생성한 key값을 다시 받아온다.-->
        <!-- keyProperty="code" 받아온 key 값을 MenuDTO의 code 프로퍼티에 넣는다. -->
    <!-- useGeneratedKeys="true" : INSERT 후 DB가 생성한 AUTO_INCREMENT 값을 가져와라-->
        <!-- keyProperty="code" : 받아온 AUTO_INCREMENT 값을 DTO의 code 필드에 넣어라-->
    <insert id="registMenu" parameterType="com.ohgiraffers.springmybatis.menu.model.dto.MenuDTO"
        useGeneratedKeys = "true" keyProperty="code" >
        insert into tbl_menu
        (menu_name, menu_price, category_code, orderable_status)
        values
        ( #{ name }, #{ price }, #{ categoryCode }, #{ orderableStatus } )
    </insert>

    <update id="modifyMenu" parameterType="com.ohgiraffers.springmybatis.menu.model.dto.MenuDTO">
        update tbl_menu
            set menu_name = #{ name }
                , menu_price = #{ price }
                , category_code = #{ categoryCode }
                , orderable_status = #{ orderableStatus }
        where menu_code = #{ code }
    </update>

    <!--실제로는 판매 여부 N으로 바꾸는 soft delete인 update를 작성한다.-->
    <update id="deleteMenu" parameterType="_int">
        update tbl_menu
                set orderable_status = 'N'
        where menu_code = #{ menuCode }
    </update>

</mapper>